


body {
  /*border-style: solid;*/
  /*border-width: medium;*/
background-color: rgba(10,15, 15, .2);
  /*width: 640px;*/
}

h1{
	padding-top: 0px;
	font-size: 1.3em;
	display: inline;
	/*border-style: solid; */
}
h2{
	padding-top: 0px;
	font-size: 1.3em;
		display: inline;

	/*border-style: solid;*/
}
h3{
padding-top: 0px;
font-size: 1em;
	display: inline;

	/*border-style: solid;*/
}
h4{
padding-left: 7px;
font-size: .9em;
	display: inline;

}
p{
	font-style: .7em;
		display: inline;

}
.pictureHead{
	display: inline;
	/*border-style: solid;*/
}
/**{
	padding-top: 0px;
	padding-bottom: 0px;
	/*border-style: solid;*/
.class{
	font-weight: bold;
	display: inline;
}


.tiny{
	padding: 0;
	display: inline;;
	margin: 0px;
	outline: 0;
	vertical-align: baseline;
	border-width: 1px 0;
    border-color: transparent;
}
/*.hoverPic:hover{
	height:100%;
	width: 100%;
}*/
	 

